<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/ProperyList-1.0/dtd">

<!--
https://jms1.net/yubikey/make-ssh-use-gpg-agent.md
-->

<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>gpg-agent</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>-c</string>
      <string>/Users/ondra/bin/gpg-agent-launch.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
