<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Shamelessly stolen from: https://gist.github.com/nl5887/3c9ad55bdab95e8ba9f8 -->
<plist version="1.0">
    <dict>
            <key>Label</key>
            <string>my.gpg-agent</string>
            <key>ProgramArguments</key>
            <array>
                <string>/usr/local/bin/gpg-agent</string>
                <string>--daemon</string>
                <string>--options</string>
                <string>/Users/ondra/.gnupg/gpg-agent.conf</string>
                <string>--enable-ssh-support</string>
                <string>--log-file</string>
                <string>/tmp/gpg-agent.log</string>
            </array>
            <key>Sockets</key>
            <dict>
                    <key>Listeners</key>
                    <dict>
                            <key>SecureSocketWithKey</key>
                            <string>SSH_AUTH_SOCK</string>
                    </dict>
            </dict>
            <key>StandardOutPath</key>
            <string>/tmp/gpg-agent.stdout.log</string>
            <key>StandardErrorPath</key>
	    <string>/tmp/gpg-agent.error.log</string>
	    <key>RunAtLoad</key> <true/>
	    <key>KeepAlive</key> <true/>
            <key>Umask</key>
            <integer>63</integer>
    </dict>
</plist>
